################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/durge/Win32/Debug
/durge/Win64/Debug
